
body{
    margin: 50px;
}

.filtros{
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap:10px
}

.tabla{
    text-align: center;
    overflow-x:auto;
    width: 100%;
}

.table {
    border: 1px solid #c9c9c9;
    border-radius: 24px;
    background-color: #dcdcdc;
    width: 100%;
}



td, th{
    padding: 10px;
}